<div class="container mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col mb-3" [className]="isPublic ? 'cursor-pointer' : ''" *ngFor="let event of events" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setSelectedEvent(event)">
      <div class="card">
        <img class="card-header" src="../../../assets/images/ocean.jpg" alt="">
        <div class="card-body float-start">
          <div class="title-news mb-2">{{ event.title }}</div>
          <div class="mb-2"><i class="bi bi-pin-map-fill"></i>{{ event.address }}</div>
          <div class="mb-2"><i class="bi bi-calendar3"></i>{{ event.date }}</div>
          <div class="mb-2"><i class="bi bi-file-person-fill"></i>{{ event.participants }} participants</div>
        </div>
        <div class="buttons row" *ngIf="!isPublic">
          <div class="col w-50">
            <i class="bi bi-pencil cursor-pointer" (click)="navigateTo('administration/event/update/' + event.id)"></i>
          </div>
          <div class="col w-50">
            <i class="bi bi-trash cursor-pointer" (click)="navigateTo('administration/event/delete/' + event.id)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="isPublic">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedEvent">
      <div class="modal-header">
        <div class="modal-title">Participer à cet évènement</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div class="modal-title"><u>{{ selectedEvent.title }}</u></div>
          <div class="row">
            <form class="row needs-validation" [formGroup]="form" *ngIf="form" id="lessonForm">
              <div class="col-sm-12">
                <label for="firstName" class="form-label"></label>
                <input type="text" class="form-control" name="firstName" formControlName="firstName" id="firstName" placeholder="Entrez votre prénom">
                <p class="error-message" *ngIf="formSubmitted && form.controls['firstName'].errors">{{ getError('firstName') }}</p>
              </div>
              <div class="col-sm-12">
                <label for="lastName" class="form-label"></label>
                <input type="text" class="form-control" name="lastName" formControlName="lastName" id="lastName" placeholder="Entrez votre nom">
                <p class="error-message" *ngIf="formSubmitted && form.controls['lastName'].errors">{{ getError('lastName') }}</p>
              </div>
              <div class="col-sm-12">
                <label for="email" class="form-label"></label>
                <input type="email" class="form-control" name="email" formControlName="email" id="email" placeholder="Entrez votre e-mail">
                <p class="error-message" *ngIf="formSubmitted && form.controls['email'].errors">{{ getError('email') }}</p>
              </div>
              <div class="col-sm-12 mb-3">
                <label for="phoneNumber" class="form-label"></label>
                <input type="email" class="form-control" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber" placeholder="Entrez votre téléphone">
                <p class="error-message" *ngIf="formSubmitted && form.controls['phoneNumber'].errors">{{ getError('phoneNumber') }}</p>
              </div>
              <button type="submit" class="btn btn-primary" (click)="save()">Participer</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
