<section class="cover flux row">
  <div class="cover-text col-sm-6">
    <div class="cover-title">PROTÉGER LA MER EN LUTTANT CONTRE LES DÉCHETS SAUVAGES</div>
    <p class="cover-introduction">
      L'association <span class="bold-text">SeaGuardians</span> est dévouée à la protection et à la préservation des écosystèmes marins à travers le monde. Notre mission est de sensibiliser, d'éduquer et d'agir pour préserver la santé des océans, des mers et des littoraux pour les générations actuelles et futures.
      <br/>
      En tant que gardiens de la mer, nous nous engageons à :
      <br/><br/>
      - <span class="bold-text">Conservation Marine:</span> Nous travaillons activement pour la conservation des habitats marins, des espèces menacées et de la biodiversité océanique.
      <br/><br/>
       - <span class="bold-text">Sensibilisation et Éducation:</span> Nous organisons des campagnes de sensibilisation et des programmes éducatifs pour informer le public sur les enjeux environnementaux liés aux océans et encourager les actions individuelles et collectives.
      <br/><br/>
       - <span class="bold-text">Plaidoyer et Action Directe:</span> Nous plaidons en faveur de politiques de protection marine plus strictes et nous engageons dans des actions directes telles que le nettoyage des plages, la réduction de la pollution plastique et la promotion de pratiques durables.
      <br/><br/>
       - <span class="bold-text">Collaboration Internationale:</span> Nous travaillons en collaboration avec d'autres organisations, gouvernements et communautés locales à l'échelle mondiale pour mettre en œuvre des solutions efficaces et durables pour la préservation des océans.
      <br/><br/>
      Ensemble, en tant que membres de <span class="bold-text">SeaGuardians</span>, nous nous efforçons de promouvoir un avenir où les océans restent vibrants, diversifiés et abondants pour toutes les formes de vie qui en dépendent.
    </p>
  </div>
  <div class="col-sm-6">
    <div class="images">
    </div>
  </div>
</section>
