.bold-text {
  font-weight: bold;
  text-decoration: underline;
}

.cover{
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .cover{
    flex-direction: column;
  }
}

.flux{
  margin: 50px;
}

@media (max-width: 500px) {
  .flux {
    margin-top: 80px;
  }
}

.cover-text{
  padding-right: 100px;
}

@media (max-width: 500px) {
  .cover-text {
    padding-right: 0;
  }
}

.cover-introduction{
  margin-bottom: 30px;
}

@media (min-width: 575px){
  .images {
    width: 90%;
  }
}


.images{
  background-image: url("../../../assets/images/ocean.jpg");
  height: 50vw;
  background-size: cover;
  position: relative;
  border-radius: 25px;
}


