.navbar-nav{
  margin: auto;
  padding: 15px;
}
.bg-light {
  background-color: #fff !important;
  border-bottom: solid 2px cornflowerblue;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px -3px cornflowerblue;
}

.nav-link{
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 15px;
}

.active{
  color: cornflowerblue !important ;
  border-top: solid 2px cornflowerblue;
}

.active a{
  color: cornflowerblue !important ;
}

.nav-link:hover{
  color: cornflowerblue;
}

.navbar-brand {
  margin-left: 25px;
}
