div{
  background-color: cornflowerblue;
  padding: 20px 0 40px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
span{
  color: white;
  font-size: 25px !important;
  line-height: 35px !important;
}
span:hover{
  font-size: 27px !important;
}
h5{
  color: white;
  font-weight: normal;
}
