.imagesss{
  background-image: url("../../assets/images/indian-ocean-e1616165376536.webp");
  background-size: cover;
  position: relative;
  border-radius: 25px;
}
.icon{
  font-size: 50px;
}
.carte{
  margin: 80px 80px 0 80px;
}
