.cover{
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .cover{
    flex-direction: column;
  }
}
.flux{
  margin: 100px 80px;
}
@media (max-width: 500px) {
  .flux {
    margin-top: 80px;
  }
}

.cover-text{
  padding-right: 100px;
}
@media (max-width: 500px) {
  .cover-text {
    padding-right: 0;
  }
}


.cover-introduction{
  margin-bottom: 30px;
}


.images{
  background-image: url("../../assets/images/indian-ocean-e1616165376536.webp");
  height: 450px;
  background-size: cover;
  position: relative;
  border-radius: 25px;
}

.images2{
  padding: 290px 10px 0 0;
  margin: -91px;
  width: 320px;
  border-radius: 25px;
}


