<div class="background" *ngIf="hideBanner != true">
  <h1 class=" big-title title">About Us</h1>
</div>
<section class="cover flux row">
  <div class="cover-text col-sm-6">
    <h6>About Us</h6>
    <h2 class="cover-title">Un pas en avant Servez Marine Contactez-nous et aidez-nous</h2>
    <p class="cover-introduction">Il existe de nombreuses variantes de passages du Lorem Ipsum, mais la majorité ont subi une altération sous une forme ou une autre, par injection d'humour ou par des mots aléatoires qui ne semblent pas du tout crédibles. Si vous comptez utiliser un passage du Lorem Ipsum.</p>
    <ul>
      <li>Ayez suffisamment de nourriture pour la vie.</li>
      <li>Les enfants pauvres peuvent retourner à l’école.</li>
      <li>Aidez les personnes pauvres à avoir de meilleurs emplois.</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="images">
      <div class="images2 col-sm-6" >
        <img src="../../assets/images/marine.jpeg" class="d-block w-100 image-sup " alt="..." style="border-radius: 25px;">
      </div>
    </div>
  </div>
</section>
