<div class="form-card">
  <form [formGroup]="form" *ngIf="form">
    <h3>Modifier une actualité</h3>
    <div class="form-group mb-3">
      <label class="form-label">Titre:</label>
      <input type="text" class="form-control" formControlName="title">
      <p class="error-message" *ngIf="formSubmitted && form.controls['title'].errors">{{ getError('title') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Image:</label>
      <input type="file" class="form-control" accept="image/*" (change)="getFile($event)">
    </div>

    <div class="form-group mb-3">
      <label for="description" class="form-label"></label>
      <ckeditor id="description" [editor]="editor" data="{{news.description}}" (change)="onChange($event)"></ckeditor>
      <p class="error-message" *ngIf="formSubmitted && form.controls['description'].errors">{{ getError('description') }}</p>
    </div>

    <div class="row mt-3">
      <div class="col text-center">
        <button type="button" class="btn btn-primary" (click)="cancel()">Annnuler</button>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-primary" (click)="save()">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
