.form-card {
  padding: 30px 30px;
  width: 60%;
  margin: 150px auto;
  display: flex;
  border-radius: 10px;
  background: #f6f6f9;
}

.form-card form {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .form-card {
    padding: 20px 10px !important;
    width: 100%;
  }
}
