<div class="form-card">
  <form [formGroup]="form" *ngIf="form">
    <div class="form-group mb-3">
      <label class="form-label">Mot de passe:</label>
      <input type="password" class="form-control" formControlName="password">
      <p class="error-message" *ngIf="formSubmitted && form.controls['password'].errors">{{ getError('password') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Nouveau mot de passe:</label>
      <input type="password" class="form-control" formControlName="newPassword">
      <p class="error-message" *ngIf="formSubmitted && form.controls['newPassword'].errors">{{ getError('newPassword') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Confirmation nouveau mot de passe:</label>
      <input type="password" class="form-control" formControlName="newPasswordConfirmation">
      <p class="error-message" *ngIf="formSubmitted && form.controls['newPasswordConfirmation'].errors">{{ getError('newPasswordConfirmation') }}</p>
    </div>

    <button type="submit" class="btn btn-primary" (click)="save()">Enregistrer</button>
  </form>
</div>
