<main id="home">
  <section id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/home_1.png" class="d-block w-100 image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Luttons ensemble pour des mers plus propres.</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/home_2.png" class="d-block w-100 image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="title">Agissez de manière positive. Protéger la mer.</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>

  <app-about-us></app-about-us>

  <section class="background">
    <div class="row align-items-start cards">
      <h2 class="cover-title title">Responsable des petites actions vers de grands changements</h2>
      <app-news-list [isPublic]="true" [newsNumber]="3"></app-news-list>
    </div>
  </section>
</main>



