.navbar-nav{
  margin: auto;
  padding: 15px;
}

.nav-link {
  color: black;
}

.bg-light {
  background-color: #fff !important;
  border-bottom: solid 2px #116ee7;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px -3px #116ee7;
}

.nav-link{
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 15px;
}

.active {
  color: #116ee7 !important ;
  border-top: solid 2px #116ee7;
}

.active a{
  color: #116ee7 !important ;
}

.nav-link:hover{
  color: #116ee7;
}

.navbar-brand {
  margin-left: 25px;
}

img {
  width: 70px;
}

@media (max-width: 575px){
  .active {
    border-top: none;
  }
}
