<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col mb-3 cursor-pointer" *ngFor="let act of news" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setSelectedNews(act)">
      <div class="card text-center">
        <img class="card-header" [src]="act.picture" alt="">
        <div class="card-body">
          <h6> <strong>{{ act.title }}</strong></h6>
          <p>{{ act.description }}</p>
          <small class="text-body-secondary float-end">{{ act.createdAt }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedNews">
      <div class="modal-header">
        <div class="modal-title">{{ selectedNews.title }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ selectedNews.description }}
      </div>
    </div>
  </div>
</div>
