<div class="card-signin">
  <form [formGroup]="loginForm" *ngIf="loginForm">
    <h5 class="text-center dark-gray-text underline-text mb-5">
      Identification
    </h5>
    <div class="form-group mb-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Email">
      <p class="error-message" *ngIf="loginFormSubmitted && loginForm.controls['email'].errors">{{ getError('email') }}</p>
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
      <p class="error-message" *ngIf="loginFormSubmitted && loginForm.controls['password'].errors">{{ getError('password') }}</p>
    </div>
    <button type="submit" class="btn btn-primary" (click)="signIn()">Se connecter</button>
    <div class="row text-center mt-3">
      <a [href]="'administration/reset/password'">Mot de passe oublié</a>
    </div>
  </form>
</div>
